@import "bourbon";
@import "variables";



.Docs {
	// background-color: pink;
	height: 100%;
	@include display(flex);
	@include flex-direction(column);
	.toolbar {
		@include flex-shrink(0);
		h1 {
			color: $accent;
		}
	}
	.split-pane {
		@include flex(1);
	}

	.Plot {
		.FuncLayer {
			path {
				stroke: $accent;
			}
		}
		rect {
			fill: lighten($dark, 10%);
		}
	}
	.Axis {
		text {
			fill: lighten($dark, 10%);
		}
	}
}