@import "bourbon";
@import "variables";

.Docs {
	// background-color: pink;
	height: 100%;
	@include display(flex);
	@include flex-direction(column);
	.toolbar {
		@include flex-shrink(0);
		h1 {
			color: $accent;
		}
	}
	.split-pane {
		@include flex(1);
	}

	.Plot {
		.FuncLayer {
			path {
				stroke: $accent;
			}
		}
		// rect {
		// 	fill: lighten($dark, 10%);
		// }
	}
	.Axis {
		text {
			fill: lighten($dark, 10%);
		}
	}
	.table-of-contents {
		box-sizing: border-box;
		padding: 16px;
		font-weight: 300;
		h4 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
		}
		a {
			color: $dark;
			text-decoration: none;
		}
	}
	#hero {
		@include display(flex);
		@include justify-content(center);
		@include align-items(center);
		height: 320px;
		background-color: $light;
		#logo {
			img {
				width: 144px;
				height: 144px;
			}
			margin-right: 24px;
		}
		h1 {
			font-weight: 300;
			font-size: 72px;
			margin: 0px;
		}
		h2 {
			margin: 0px;
			font-size: 24px;
			color: rgba($dark, 0.4);
			font-weight: 300;
		}
	}
}