@import "bourbon";
@import "variables";
// @import "../icons/style.scss";

body {
	margin: 0;
	font-family: 'Roboto';
	color: $dark;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	line-height: 1.4;
}

h1 {
	font-size: 36px;
}

#docs {
	height: 100%;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

code {
	background-color: $light;
	&.code-block {
		display: block;
		width: 100%;
		overflow: auto;
		margin: 16px 0px;
		box-sizing: border-box;
	}
}

#brand {
	cursor: pointer;
}

.toolbar {
	@include display(flex);
	@include align-items(center);
	height: 64px;
	background-color: $dark;
	color: white;
	#brand {
		text-decoration: none;
	}
	h1 {
		font-size: 24px;
		font-weight: 300;
		margin: 0px 16px;
		text-decoration: none;
	}
	.spacer {
		@include flex(1);
	}
	.toolbar-group {
		padding: 0px 16px;
		height: 100%;
		@include display(flex);
		@include align-items(stretch);
	}
	.toolbar-item {
		display: inline-block;
		color: white;
		padding: 0px 8px;
		margin: 0px 8px;
		height: 100%;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 14px;
		@include display(flex);
		@include align-items(center);
		&.active {
			box-shadow: 0px -4px 0px 0px $accent inset;
		}
	}
}

.split-pane {
	@include display(flex);
	.sidebar {
		min-width: 25%;
		overflow-y: auto;
		// background-color: $light;
	}
	.main {
		overflow-y: auto;
	}
}

section {
	padding: 16px;
}