@import "bourbon";
@import "variables";

body {
	margin: 0;
	font-family: 'Roboto';
	color: $dark
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

code {
	background-color: $light;
}

.toolbar {
	@include display(flex);
	@include align-items(center);
	height: 64px;
	background-color: $dark;
	color: white;
	h1 {
		font-size: 24px;
		font-weight: 100;
		margin: 0px 16px;
	}
	.spacer {
		@include flex(1);
	}
	.toolbar-item {
		margin: 0px 16px;
		cursor: pointer;
	}
}

.split-pane {
	@include display(flex);
	.sidebar {
		min-width: 25%;
		background-color: $light;
	}
}

section {
	padding: 16px;
}