@import "bourbon";

.Plotypus {
	display: table;
	overflow: hidden;
	table-layout: auto;
	.labels-container {
		height: 48px;
	}
	.labels {
		@include display(flex);
		.label {
			@include flex(1);
			width: 0;
			height: 0;
			white-space: nowrap;
			font-size: 12px;
		}
	}
	.Axis {
		text {
			height: 100%;
			font-size: 10px;
		}
		&.v {
			height: 99%; // BECAUSE FUCK SAFARI. IF THIS NUMBER IS INCREASED BY 0.1%, BUG RETURNS.
			width: 48px;
		}
		&.h {
			height: 48px;
			width: 100%;
		}
		&.Category {
			&.v {
				width: auto;
			}
			&.h {
				height: auto;
			}
		}
	}
	.axis-label {
		text-align: center;
		font-size: 12px;
		font-weight: 300;
		white-space: nowrap;
		&.rotate {
			width: 24px;
			.label {
				position: absolute;
				bottom: 50%;
				left: 0px;
				@include transform(rotate(-90deg) translate(-50%));
				@include transform-origin(top left);
			}
		}
		&.x {
			@include display(flex);
			@include flex-direction(row);
			@include justify-content(center);
		}
	}
	.component {
		display: table-cell;
		&.full {
			height: 100%;
			// height: 1
			width: 100%;
		}
	}
}

.CharttableRow {
	display: table-row;
	.Chart {
		height: 99%; // BECAUSE FUCK SAFARI. IF THIS NUMBER IS INCREASED BY 0.1%, BUG RETURNS.
		width: 100%;
	}
	.null {
		display: table-cell;
		width: 0px;
		height: 0px;
	}
}